/* main graph element */
#graph {
    position:absolute;
    left:0;
    right:0;
    top:30;
    bottom:0;
    background-color:#000;
}
/* selected dates in datepicker component */
.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}